<h1>Here is post <%= @post_id %> by user <%= @user_id %></h1>
<div class="recent-posts">
  <p><%= @post.text %></p>
  <p class="counters">comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>

  <% if @post.recent_comments.any? %>
    <h3 class="comments-heading">Comments:</h3>
    <ul class="comments-list">
      <% @post.comments.each do |comment| %>
        <li>
          <%= comment.user.name %> : <%= comment.text %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<button id="show-more-btn"><%= link_to "Add Comment", new_user_post_comment_path(@post.author, @post) %></button>
<button id="show-more-btn"><%= link_to "Add Like", new_user_post_like_path(@post.author, @post) %></button>
